In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

In [2]:
import pandas as pd
# Defining empty lists and chunk size to load larger datasets in chunks
chunk1 = []
chunk2 = []
chunk_size = 20000

business_df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json', lines = True)
checkin_df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json', lines = True)
tip_df = pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json', lines = True)


# Processing the User dataset in chunks to avoid runnning out of memory
for chunk in pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json', lines = True, chunksize = chunk_size):
    chunk2.append(chunk)
user_df = pd.concat(chunk2, ignore_index = True)

# Processing the Review dataset in chunks to avoid runnning out of memory
for chunk in pd.read_json('/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json', lines = True, chunksize = chunk_size):
    chunk1.append(chunk)
review_df = pd.concat(chunk1, ignore_index = True)

In [3]:
#View data
print(business_df.head())
#Attributes and data type
print(business_df.info())

              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open  \
0  34.426679 -119.711197    5.0             7        0
1  38.551126  -90.335695    3.0            15        1
2  32.223236 -110.880452    3.5            22        0
3  39.955505  -75.155564    4.0            80        1
4  40.338183  -75.471659    4.5            13        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB
None

In [4]:
#View data
print(checkin_df.head())
#Attributes and data type
print(checkin_df.info())

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB
None

In [5]:
#View data
print(review_df.head())
#Attributes and data type
print(review_df.info())

                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ

   stars  useful  funny  cool  \
0      3       0      0     0
1      5       1      0     1
2      3       0      0     0
3      5       1      0     1
4      4       1      0     1

                                                text                date
0  If you decide to eat here, just be aware it is... 2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year... 2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm... 2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo... 2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up... 2017-01-14 20:54:15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB
None

In [6]:
#View data
print(tip_df.head())
#Attribute info
print(tip_df.info())

                  user_id             business_id  \
0  AGNUgVwnZUey3gcPCJ76iw  3uLgwr0qeCNMjKenHJwPGQ
1  NBN4MgHP9D3cw--SnauTkA  QoezRbYQncpRqyrLH6Iqjg
2  -copOvldyKh1qr-vzkDEvw  MYoRNLb5chwjQe3c_k37Gg
3  FjMQVZjSqY8syIO-53KFKw  hV-bABTK-glh5wj31ps_Jw
4  ld0AperBXk1h6UbqmM80zw  _uN0OudeJ3Zl_tf6nxg5ww

                                                text                date  \
0                     Avengers time with the ladies. 2012-05-18 02:17:21
1  They have lots of good deserts and tasty cuban... 2013-02-05 18:35:10
2             It's open even when you think it isn't 2013-08-18 00:56:08
3                          Very decent fried chicken 2017-06-27 23:05:38
4             Appetizers.. platter special for lunch 2012-10-06 19:43:09

   compliment_count
0                 0
1                 0
2                 0
3                 0
4                 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB
None

In [7]:
#View data
print(user_df.head())

#Info data
print(user_df.info())

                  user_id    name  review_count        yelping_since  useful  \
0  qVc8ODYU5SZjKXVBgXdI7w  Walker           585  2007-01-25 16:47:26    7217
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333  2009-01-25 04:35:42   43091
2  2WnXYQFK0hXEoTxPtV2zvg   Steph           665  2008-07-25 10:41:00    2086
3  SZDeASXq7o05mMNLshsdIA    Gwen           224  2005-11-29 04:38:33     512
4  hA5lMy-EnncsH4JoR-hFGQ   Karen            79  2007-01-05 19:40:59      29

   funny   cool                                              elite  \
0   1259   5994                                               2007
1  13066  27281  2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
2   1010   1003                           2009,2010,2011,2012,2013
3    330    299                                     2009,2010,2011
4     15      7

                                             friends  fans  ...  \
0  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
1  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
2  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
3  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
4  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...     1  ...

   compliment_more  compliment_profile  compliment_cute  compliment_list  \
0               65                  55               56               18
1              264                 184              157              251
2               13                  10               17                3
3                4                   1                6                2
4                1                   0                0                0

   compliment_note  compliment_plain  compliment_cool  compliment_funny  \
0              232               844              467               467
1             1847              7054             3131              3131
2               66                96              119               119
3               12                16               26                26
4                1                 1                0                 0

   compliment_writer  compliment_photos
0                239                180
1               1521               1946
2                 35                 18
3                 10                  9
4                  0                  0

[5 rows x 22 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987897 entries, 0 to 1987896
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 333.7+ MB
None

In [8]:
#Summary Stats for data
print(business_df.describe())
print(checkin_df.describe())
print(review_df.describe())
print(tip_df.describe())
print(user_df.describe())

            latitude      longitude          stars   review_count  \
count  150346.000000  150346.000000  150346.000000  150346.000000
mean       36.671150     -89.357339       3.596724      44.866561
std         5.872759      14.918502       0.974421     121.120136
min        27.555127    -120.095137       1.000000       5.000000
25%        32.187293     -90.357810       3.000000       8.000000
50%        38.777413     -86.121179       3.500000      15.000000
75%        39.954036     -75.421542       4.500000      37.000000
max        53.679197     -73.200457       5.000000    7568.000000

            is_open
count  150346.00000
mean        0.79615
std         0.40286
min         0.00000
25%         1.00000
50%         1.00000
75%         1.00000
max         1.00000
                   business_id  \
count                   131930
unique                  131930
top     ---kPU91CF4Lq2-WlRu9Lw
freq                         1

                                                     date
count                                              131930
unique                                             131930
top     2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
freq                                                    1
              stars        useful         funny          cool  \
count  6.990280e+06  6.990280e+06  6.990280e+06  6.990280e+06
mean   3.748584e+00  1.184609e+00  3.265596e-01  4.986175e-01
min    1.000000e+00 -1.000000e+00 -1.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
max    5.000000e+00  1.182000e+03  7.920000e+02  4.040000e+02
std    1.478705e+00  3.253767e+00  1.688729e+00  2.172460e+00

                                date
count                        6990280
mean   2017-01-11 11:22:33.441780992
min              2005-02-16 03:23:22
25%    2015-01-25 04:53:50.249999872
50%              2017-06-03 01:26:07
75%    2019-05-23 00:02:46.249999872
max              2022-01-19 19:48:45
std                              NaN
                                date  compliment_count
count                         908915     908915.000000
mean   2015-06-14 10:13:53.302817280          0.012525
min              2009-04-16 13:11:49          0.000000
25%       2013-01-26 01:18:02.500000          0.000000
50%              2015-03-15 01:10:25          0.000000
75%       2017-08-02 06:19:55.500000          0.000000
max              2022-01-19 20:38:55          6.000000
std                              NaN          0.120763
       review_count        useful         funny          cool          fans  \
count  1.987897e+06  1.987897e+06  1.987897e+06  1.987897e+06  1.987897e+06
mean   2.339441e+01  4.229634e+01  1.697054e+01  2.379291e+01  1.465740e+00
std    8.256699e+01  6.414806e+02  4.078034e+02  5.653513e+02  1.813075e+01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    5.000000e+00  3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    1.700000e+01  1.300000e+01  2.000000e+00  3.000000e+00  0.000000e+00
max    1.747300e+04  2.062960e+05  1.858230e+05  1.998780e+05  1.249700e+04

       average_stars  compliment_hot  compliment_more  compliment_profile  \
count   1.987897e+06    1.987897e+06     1.987897e+06        1.987897e+06
mean    3.630494e+00    1.807072e+00     2.922631e-01        1.793176e-01
std     1.183337e+00    7.360184e+01     1.282467e+01        1.515525e+01
min     1.000000e+00    0.000000e+00     0.000000e+00        0.000000e+00
25%     3.000000e+00    0.000000e+00     0.000000e+00        0.000000e+00
50%     3.880000e+00    0.000000e+00     0.000000e+00        0.000000e+00
75%     4.560000e+00    0.000000e+00     0.000000e+00        0.000000e+00
max     5.000000e+00    2.578400e+04     1.350100e+04        1.418000e+04

       compliment_cute  compliment_list  compliment_note  compliment_plain  \
count     1.987897e+06     1.987897e+06     1.987897e+06      1.987897e+06
mean      1.336493e-01     6.390723e-02     1.443135e+00      3.011841e+00
std       1.135682e+01     1.004363e+01     6.016790e+01      1.193898e+02
min       0.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
25%       0.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
50%       0.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
75%       0.000000e+00     0.000000e+00     0.000000e+00      0.000000e+00
max       1.365400e+04     1.266900e+04     5.903100e+04      1.010970e+05

       compliment_cool  compliment_funny  compliment_writer  compliment_photos
count     1.987897e+06      1.987897e+06       1.987897e+06       1.987897e+06
mean      2.829308e+00      2.829308e+00       1.056448e+00       1.226859e+00
std       9.666385e+01      9.666385e+01       3.217973e+01       9.515751e+01
min       0.000000e+00      0.000000e+00       0.000000e+00       0.000000e+00
25%       0.000000e+00      0.000000e+00       0.000000e+00       0.000000e+00
50%       0.000000e+00      0.000000e+00       0.000000e+00       0.000000e+00
75%       0.000000e+00      0.000000e+00       0.000000e+00       0.000000e+00
max       4.996700e+04      4.996700e+04       1.593400e+04       8.263000e+04

**Our Scope of Data is to look at only Restaurants as a category. **

In [9]:
# Flattening nested fields into separate columns
from pandas import json_normalize

# Assume 'attributes' is a nested JSON field in each row
df_flat = json_normalize(business_df['attributes'])
b_df = pd.concat([business_df, df_flat], axis=1).drop(columns=['attributes'])
print(b_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 52 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   business_id                 150346 non-null  object
 1   name                        150346 non-null  object
 2   address                     150346 non-null  object
 3   city                        150346 non-null  object
 4   state                       150346 non-null  object
 5   postal_code                 150346 non-null  object
 6   latitude                    150346 non-null  float64
 7   longitude                   150346 non-null  float64
 8   stars                       150346 non-null  float64
 9   review_count                150346 non-null  int64
 10  is_open                     150346 non-null  int64
 11  categories                  150243 non-null  object
 12  hours                       127123 non-null  object
 13  ByAppointmentOnly           42339 non-null   object
 14  BusinessAcceptsCreditCards  119765 non-null  object
 15  BikeParking                 72638 non-null   object
 16  RestaurantsPriceRange2      85314 non-null   object
 17  CoatCheck                   5584 non-null    object
 18  RestaurantsTakeOut          59857 non-null   object
 19  RestaurantsDelivery         56282 non-null   object
 20  Caters                      40127 non-null   object
 21  WiFi                        56914 non-null   object
 22  BusinessParking             91085 non-null   object
 23  WheelchairAccessible        28953 non-null   object
 24  HappyHour                   15171 non-null   object
 25  OutdoorSeating              48802 non-null   object
 26  HasTV                       45084 non-null   object
 27  RestaurantsReservations     45247 non-null   object
 28  DogsAllowed                 18284 non-null   object
 29  Alcohol                     43189 non-null   object
 30  GoodForKids                 53375 non-null   object
 31  RestaurantsAttire           39255 non-null   object
 32  Ambience                    44279 non-null   object
 33  RestaurantsTableService     19982 non-null   object
 34  RestaurantsGoodForGroups    44170 non-null   object
 35  DriveThru                   7760 non-null    object
 36  NoiseLevel                  37993 non-null   object
 37  GoodForMeal                 29087 non-null   object
 38  BusinessAcceptsBitcoin      17430 non-null   object
 39  Smoking                     4567 non-null    object
 40  Music                       7521 non-null    object
 41  GoodForDancing              4628 non-null    object
 42  AcceptsInsurance            5713 non-null    object
 43  BestNights                  5694 non-null    object
 44  BYOB                        4451 non-null    object
 45  Corkage                     3553 non-null    object
 46  BYOBCorkage                 1444 non-null    object
 47  HairSpecializesIn           1065 non-null    object
 48  Open24Hours                 39 non-null      object
 49  RestaurantsCounterService   19 non-null      object
 50  AgesAllowed                 129 non-null     object
 51  DietaryRestrictions         31 non-null      object
dtypes: float64(3), int64(2), object(47)
memory usage: 59.6+ MB
None

In [10]:
# Check for duplicate columns and rename as needed
b_df.columns = pd.io.parsers.ParserBase({'names': b_df.columns})._maybe_dedup_names(b_df.columns)

AttributeError: module 'pandas.io.parsers' has no attribute 'ParserBase'

In [ ]:
# Convert columns to suitable data types for SQL

df['numeric_column'] = df['numeric_column'].astype(float)
df['text_column'] = df['text_column'].astype(str)
df['date_column'] = pd.to_datetime(df['date_column'])

In [ ]:
b_df['categories'] = b_df['categories'].str.split(', ')
b_df = b_df.explode('categories')

print(b_df['categories'].head())

In [ ]:
# Filter the DataFrame to include only rows where 'categories' contains 'Restaurant'
df_restaurant = b_df[b_df['categories'].str.contains('Restaurants', case=False, na=False)]
print(df_restaurant['categories'].head())

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Bar plot for stars column
plt.figure(figsize=(8, 6))
sns.countplot(x=df_restaurant["stars"])
plt.title(f'Count of {"stars"}')
plt.show()

In [ ]:
# Sort by 'review_count' in descending order and select the popular 10
pop_10_restaurants = df_restaurant.sort_values(by='review_count', ascending=False).head(10)
print(pop_10_restaurants[['name','categories','stars']])

# Plot the data
plt.figure(figsize=(12, 8))
plt.barh(pop_10_restaurants['name'], pop_10_restaurants['review_count'], color='skyblue')
plt.xlabel('Review Count')
plt.ylabel('Restaurant Name')
plt.title('Top 10 Restaurants with Most Reviews')
plt.gca().invert_yaxis()  # Invert y-axis to have the highest at the top
plt.show()

In [ ]:
# Sort by 'stars' in descending order and select the top 10
top_10_restaurants = df_restaurant.sort_values(by='stars', ascending=False).head(10)
print(top_10_restaurants[['name','stars']])

# Plot the data
plt.figure(figsize=(12, 8))
plt.barh(top_10_restaurants['name'], top_10_restaurants['stars'], color='skyblue')
plt.xlabel('Review Count')
plt.ylabel('Restaurant Name')
plt.title('Top 10 Restaurants with Most Reviews')
plt.gca().invert_yaxis()  # Invert y-axis to have the highest at the top
plt.show()

In [ ]:
notkeywords = ["Restaurant", "Food", "Shopping", "Home Beauty", "Beauty & Spas", "Nightlife", "American (Traditional) ", "American (New) ", "Active Life","Health & Medical", "Home Services", "Local Services", "Automotive", "Event Planning & Services", "Hotels & Travel", "Home & Garden", "Fashion", "Arts & Entertainment", "Auto Repair", "Hair Salons", "Nail Salons", "Doctors", "Pets","Real Estate", "Fitness & Instruction", "Professional Services", "Hair Removal", "Hotels", "Pet Services", "Dentists", "Skin Care"]
pattern = '|'.join(notkeywords)

# Get all other categories excluding 'Restaurant'
df_notrestaurant = b_df[~b_df['categories'].str.contains(pattern, case=False, na=False)]

# Count the occurrences of each category
category_counts = df_notrestaurant['categories'].value_counts()

# Plot the top 10 categories as a bar chart
plt.figure(figsize=(20, 10))
category_counts.head(20).plot(kind='bar')
plt.title('Top 10 Categories Associated with Restaurants')
plt.xlabel('Category')
plt.ylabel('Frequency')
plt.xticks(rotation=45)
plt.show()

In [ ]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import numpy as np

In [ ]:
# Merge check-in data with restaurant data
merged_df = pd.merge(checkin_df, df_restaurant, on='business_id')

# Group by 'address', state and  count check-ins
checkin_counts = merged_df.groupby(['address', 'city', 'state']).size().reset_index(name='checkin_count')

# Sort by highest check-in counts
high_traffic_areas = checkin_counts.sort_values(by='checkin_count', ascending=False).head(20)

print("High Foot-Traffic Areas:")
print(high_traffic_areas)

In [ ]:
import matplotlib.pyplot as plt

# Plot the top 10 high-foot traffic areas
plt.figure(figsize=(20, 10))
top_areas = high_traffic_areas.head(50)
plt.barh(top_areas['address'], top_areas['checkin_count'], color='skyblue')
plt.xlabel('Check-In Count')
plt.ylabel('Address')
plt.title('Top 10 High Foot-Traffic Areas for Restaurants')
plt.gca().invert_yaxis()  # To display the highest count at the top
plt.show()

In [ ]:
# Merge check-in data with restaurant data to get location info
merged_df_new = pd.merge(checkin_df, df_restaurant, on='business_id')

# Aggregate check-ins by location (latitude and longitude)
checkin_counts = merged_df_new.groupby(['latitude', 'longitude']).size().reset_index(name='checkin_count')

In [ ]:
import folium
from folium.plugins import HeatMap

# Initialize the map centered around the average location
center_lat, center_long = checkin_counts['latitude'].mean(), checkin_counts['longitude'].mean()
m = folium.Map(location=[center_lat, center_long], zoom_start=12)

# Prepare data for the heatmap (latitude, longitude, check-in count as weight)
heat_data = [[row['latitude'], row['longitude'], row['checkin_count']] for index, row in checkin_counts.iterrows()]

# Add heatmap layer to the map
HeatMap(heat_data, radius=15, max_zoom=13).add_to(m)

# Display the map
m.save("checkin_heatmap.html")  # Save as HTML file if you want to view it in a browser
m

In [ ]:
philly_restaurants = business_df[
    (business_df['city'].str.contains('Philadelphia', case=False, na=False)) &
    (business_df['categories'].str.contains('Restaurant', case=False, na=False))
]

In [ ]:
# Merge Philadelphia restaurants with check-in data
philly_checkins = pd.merge(checkin_df, philly_restaurants[['business_id', 'categories']], on='business_id')

In [ ]:
# Split categories into lists and explode to get one row per cuisine
philly_checkins['categories'] = philly_checkins['categories'].str.split(', ')
philly_checkins_exploded = philly_checkins.explode('categories')

# Group by cuisine and count check-ins
cuisine_popularity = philly_checkins_exploded.groupby('categories').size().reset_index(name='checkin_count')

# Sort by check-in count in descending order to get the most popular cuisines
cuisine_popularity = cuisine_popularity.sort_values(by='checkin_count', ascending=False)

# Display top cuisines
print("Popular Cuisines in Philadelphia by Check-In Count:")
print(cuisine_popularity.head(10))

In [ ]:
import matplotlib.pyplot as plt

# Plot the top 10 cuisines by check-in count
top_cuisines = cuisine_popularity.head(10)
plt.figure(figsize=(10, 6))
plt.barh(top_cuisines['categories'], top_cuisines['checkin_count'], color='skyblue')
plt.xlabel('Check-In Count')
plt.ylabel('Cuisine')
plt.title('Top 10 Popular Cuisines in Philadelphia by Check-In Count')
plt.gca().invert_yaxis()  # Highest check-in count at the top
plt.show()

In [ ]:
# Define the mapping from column names to integers
column_mapping = {'useful': 1, 'funny': 2, 'cool': 3}

# Use idxmax to get the column name with the highest value, then map to integer
review_data['category'] = review_data[['useful', 'funny', 'cool']].idxmax(axis=1).map(column_mapping)

# Display the result
print("DataFrame with Combined Category Column:")
print(review_data[['useful', 'funny', 'cool', 'category']])